* {
    border: none;
    border-radius: 0;
    font-family: Sans;
    font-size: 15px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    background-color: rgba(238, 46, 36, 1);
}

#custom-disk,
#custom-memory,
#custom-cpu,
#custom-temp,
#tray,
#custom-packages,
#backlight,
#pulseaudio,
#network,
#battery {
    margin: 0 6px 0px 10px;
    min-width: 25px;
}

#clock {
    margin: 0px 16px 0px 10px;
    min-width: 140px;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}
